.swiper {
    width: 500px;
    height: 600px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 640px) {
    .swiper {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .swiper {
        width: 600px;
        height: 400px;
    }
}

